#layer1{
    max-width: 58px;
}

#center{
    -webkit-animation: spin 5s linear infinite;
}
@-webkit-keyframes moveEye{
    30%{
        -webkit-transform: translateX(-70px);
    }
}

@-webkit-keyframes spin{
    0% {
        -webkit-transform: rotateZ(0);
        -webkit-transform-origin: center;
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -webkit-transform-origin: center;
    }
}