.btn-general, .btn-primary {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #B662D1;
  font-weight: 500 !important;
}

.btn-secondary {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 20px;
  background-color: #B4B5C9;
}

/*Profile Card CSS*/
.testimotionals {
  width: 350px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}

.testimotionals .card {
  position: relative;
  overflow: hidden;
  width: 350px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.testimotionals .card .layer {
  z-index: 1;
  position: absolute;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #B662D1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimotionals .card .content {
  z-index: 2;
  position: relative;
}

.testimotionals .card:hover .layer {
  top: 0;
}

.testimotionals .card .content p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.testimotionals .card .content .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.testimotionals .card .content .details h2 {
  margin-top: 15px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.testimotionals .card .content .details h2 span {
  font-size: 18px;
  color: #B662D1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimotionals .card:hover .content .details h2 span {
  color: white;
  position: relative;
}

body {
  margin-bottom: 20px;
}

.splash-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #dddddd;
  z-index: 200;
}

#grow-with-wima {
  max-width: 530px;
  margin: 0 auto;
  display: block;
  overflow: visible;
}

#icon {
  -webkit-animation: icon-animate 2s 1s 2 forwards ease-out;
          animation: icon-animate 2s 1s 2 forwards ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

#grow {
  -webkit-animation: grow-animate 2s 1s 2 forwards ease-out;
          animation: grow-animate 2s 1s 2 forwards ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

#blaze {
  -webkit-animation: blaze-animate 2s 1s 2 forwards ease-out;
          animation: blaze-animate 2s 1s 2 forwards ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

#wima {
  -webkit-animation: wima-animate 2s 1s 2 forwards ease-out;
          animation: wima-animate 2s 1s 2 forwards ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

@-webkit-keyframes icon-animate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  20%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes icon-animate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  20%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes grow-animate {
  0%, 20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  30%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes grow-animate {
  0%, 20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  30%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes blaze-animate {
  0%, 30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  40%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes blaze-animate {
  0%, 30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  40%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes wima-animate {
  0%, 40% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  50%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes wima-animate {
  0%, 40% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  50%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.splash-style.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #777790;
  z-index: -10;
  text-align: center;
  line-height: 90vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body {
  font-family: 'Rubik', sans-serif;
}

.navbar-parent {
  padding-top: 20px;
}

.navbar-parent .navbar-nav li {
  padding-left: 50px;
}

.navbar-parent .navbar-nav .nav-link {
  color: #000000;
  font-weight: 400 !important;
}

.navbar-parent .navbar-nav .active {
  color: #563AD6 !important;
  font-weight: 500 !important;
}

.about {
  padding-top: 80px;
}

.about .text-about {
  padding-top: 85px;
}

.about .about-header {
  font-weight: 500 !important;
  line-height: 50px;
}

.about .text-about-desc {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #9B9CB7;
  font-weight: 400 !important;
}

.about .text-about {
  padding-top: 85px;
}

.brands-image {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 60px;
}

.carousel-section .carousel-inner-section .carousel-content-color span {
  color: black;
}

.carousel-section .carousel-inner-section .carousel-image {
  position: relative;
}

.profile-section {
  margin-left: 130px;
}

.profile-section .profile-section-header h1 {
  padding-left: 45px;
  margin-top: 80px;
}

@media screen and (max-width: 940px) {
  .about {
    padding-top: 30px;
  }
  .about .about-section .banner-image {
    text-align: center;
  }
  .about .about-section .banner-image img {
    width: 350px;
    height: 320px;
  }
  .about .about-section .text-about {
    padding-top: 0px;
  }
  .about .brands-image-section img {
    width: 0px;
  }
  .about .brands-image {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .about .about-header {
    font-weight: 500 !important;
    line-height: 40px;
  }
  .profile-section {
    margin-left: 0px;
    text-align: left;
  }
  .profile-section .profile-section-header h1 {
    padding-left: 15px;
    margin-top: 50px;
  }
  .testimotionals {
    width: 350px;
    display: inline-block;
    margin-left: 0px;
    padding-left: 32px;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=main.css.map */