@import './_colors.scss';
@import './_typography.scss';
@import './buttons';
@import './card';

body{
    font-family: 'Rubik', sans-serif;
}

.navbar-parent{
    padding-top: 20px;
    .navbar-nav{
        li{
            padding-left: 50px;
        }
        .nav-link{
            color: $black;
            font-weight: map-get($font-tebal,regular) !important;
        }
        .active{
            color: $purple !important;
            font-weight: map-get($font-tebal,semi-bold) !important;
        }
    }
}
.about{
    padding-top: 100px;
    .text-about{
        padding-top: 85px;
    }
    .about-header{
        font-weight: map-get($font-tebal,semi-bold) !important;
        line-height: 50px;
    }
    .text-about-desc{
        margin-top: 20px;
        margin-bottom: 20px;
        color: $graylight;
        font-weight: map-get($font-tebal,regular) !important;
    }
    .text-about{
        padding-top: 85px;
    }
}
.brands-image{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

.carousel-section{
    .carousel-inner-section{
        .carousel-content-color{
            span{
                color: black;
            }
        }
        .carousel-image{
            position:relative;
        }
        
    }
}

.profile-section{
   margin-left: 130px;
   .profile-section-header{
       h1{
           padding-left: 45px;
           margin-top: 80px;
       }
   }
}

@media screen and (max-width: 940px) {
    .about{
        padding-top: 30px;
        .about-section{
            .banner-image{
                img{
                    width: 434px;
                }
            }
            .text-about{
                padding-top: 0px;
            }
        }
        .brands-image-section{
            img{
                width: 0px;
            }
        }
        .brands-image{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .about-header{
            font-weight: map-get($font-tebal,semi-bold) !important;
            line-height: 40px;
        }
    }
    .profile-section{
        margin-left: 20px;
        .profile-section-header{
            h1{
                padding-left: 24px;
                margin-top: 50px;
            }
        } 
    } 
}
